<div *ngIf="appointment">

  <label><b>title:</b>
    <input [(ngModel)]="appointment.title" placeholder="title"/>
  </label>

  <label><b>beginDate: </b></label>
  <input [(ngModel)]="appointment.beginDate" placeholder="beginDate"/>

  <label><b>endDate: </b></label>
  <input [(ngModel)]="appointment.endDate" placeholder="endDate"/>

  <label><b>type: </b></label>
  <select type="combobox" [(ngModel)]="appointment.type">
    <option value="private">Private</option>
    <option value="public">Public</option>
  </select><br>

  <label><b>number of people: </b></label>
  <input [(ngModel)]="appointment.size" placeholder="endDate"/>

  <label><b>location:</b>
    <input [(ngModel)]="appointment.location" placeholder="location"/>
  </label>

  <div class="clearfix">
    <button class="delete" title="delete hero"
            (click)="add(appointment)">x</button>
  </div>
</div>


