
<div class="create-appointment-page-container">
  <form (ngSubmit)="onFormSubmit()" class="mat-custom-container" >
    <h3 mat-dialog-title> Create an appointment on 6-4-2020</h3>
    <mat-form-field class="input">
      <mat-label> Title: </mat-label>
      <input matInput class="input" [ngModel]="appointment.title" name="title">
    </mat-form-field>
    <div class="time-picker-container">
      <mat-label class="time-picker-text"> From: </mat-label>
      <div class="ngx-material-timepicker-example__form-group">
        <input class="time-picker-input" placeholder="12:00AM" aria-label="12hr format"
               [ngxTimepicker]="defaultPicker" readonly [ngModel]="appointment.beginDate" name="begin time">
        <ngx-material-timepicker #defaultPicker [preventOverlayClick]="true"></ngx-material-timepicker>
      </div>
      <mat-label class="time-picker-text"> to </mat-label>
      <div class="ngx-material-timepicker-example__form-group">
        <input class="time-picker-input" placeholder="17:00PM" aria-label="12hr format"
               [ngxTimepicker]="defaultPicker2" readonly [ngModel]="appointment.endDate" name="end time">
        <ngx-material-timepicker #defaultPicker2></ngx-material-timepicker>
      </div>
    </div>
    <div>
      <mat-form-field>
        <mat-label> Max amount of people: </mat-label>
        <input type="number" [disabled]="disabled" matInput class="input" [ngModel]="appointment.size" name="max amount">
      </mat-form-field>
      <mat-form-field class="description">
        <mat-label> Comment: </mat-label>
        <textarea matInput  cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                  maxlength="250" cdkAutosizeMaxRows="5" class="input" [ngModel]="appointment.description" name="description"></textarea>
      </mat-form-field>
    </div>
    <mat-checkbox [(ngModel)]="disabled" color="primary" name="private"> Private meeting </mat-checkbox>
    <button mat-raised-button type="submit"> Pick one</button>
  </form>

</div>
