md-content.md-default-theme {
  background-color: #eee;
}
md-card {
  background-color: #fff;
}

.create-appointment-page-container{
  display: flex;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #eeeeee;
}

.mat-custom-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 700px;
  height: 100vh;
  padding: 15px 20px 10px 20px;
  background-color: #ffffff;
  border: #c2d3d3 solid 1px;
}

.time-picker-container{
  display: flex;
  flex-display: row;
  justify-content: center;
}

.time-picker-input{
  max-height: 40px;
  margin-left: 0.6em;
  margin-right: 0.6em;
  margin-bottom: 0;
  max-width: 5em;
  color: darkorange;
}

.time-picker-text{
  margin-top: 0.6em;
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.description{
  width: 100%;
  margin-bottom: 0px;
}

.input{
  margin-bottom: 0 !important;
}

.dialog-appointment-accept-button{
  background-color: #32c332;
  color: white;
  margin-bottom: 0px !important;
}

.dialog-appointment-decline-button{
  background-color: #f44646;
  color: white;
}

.ngx-material-timepicker-example {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  overflow: hidden;}
__description {
  margin: 0 0 15px;
}
__form-group {
  position: relative;
  max-width: 300px;
  width: 100%;
  height: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, .09)}
:not(:last-child) {
  margin-bottom: 20px;
}
--toggled {
  display: flex;
}
--disabled {
  border-bottom-style: dashed;
}
input {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 16px;
}  :disabled {
     background-color: transparent;
     cursor: not-allowed;
   }  :focus {
        outline: none;
      }  ::placeholder {
           font-size: 16px;
           color: #cccccc;
         }







