<mat-form-field>
    <mat-select [(value)]="selectedLanguage" [(ngModel)]="selectedLanguage" name="selectedLanguage">
        <mat-select-trigger>
            <img with="10" height="10" [src]="selectedLanguage.viewValue" [alt]="selectedLanguage.value"/>
            <span> {{selectedLanguage.value}} </span>
        </mat-select-trigger>
        <mat-option *ngFor="let language of languages" [value]="language">
            <img with="10" height="10" [src]="language.viewValue" [alt]="language.value"/>
            <span> {{language.value}} </span>
        </mat-option>
    </mat-select>
</mat-form-field>
