.table-container {
  overflow: auto;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.appointments-header{
  text-align: center;
  font-weight: bold;
}

table {
    width: 100%;
}

.table-header{
  margin-top: 15px;
}
