.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-appointment-form {
  margin-top: 100px;
  min-width: 150px;
  max-width: 500px;
}

.card-actions{
  justify-content: center;
  display: flex;
  margin-bottom: 15px !important;
}

.edit-appointment-form-full-width {
  width: 100%;
}

.time-pickers-container{
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
  display: grid;
}

.time-picker-input{
  max-height: 40px;
  margin-left: 0.6em;
  margin-right: 0.6em;
  margin-bottom: 0;
  max-width: 5em;
  color: #3f51b5;
}

.update-button{
  border-radius: 25px;
  background-color: #3fb301;
  color:white;
  width: 50%;
}
