<mat-card class="create-appointment-form" *ngIf="appointment">
  <mat-card-header>
    <mat-card-title>Edit Appointment</mat-card-title>
    <mat-card-subtitle>ID: {{appointment.id}} Title: {{appointment.title}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <form>
        <mat-form-field class="create-appointment-form-full-width">
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="appointment.title" value="{{appointment.title}}" class="form-control">
        </mat-form-field>
        <mat-form-field class="create-appointment-form-full-width">
          <mat-label>Description</mat-label>
          <input matInput [(ngModel)]="appointment.description" value="{{appointment.description}}">
        </mat-form-field>
        <mat-form-field class="create-appointment-form-full-width">
          <mat-label>Begin Date</mat-label>
          <input type="date" matInput [(ngModel)]="appointment.beginDate" value="{{appointment.beginDate}}">
        </mat-form-field>
        <mat-form-field class="create-appointment-form-full-width">
          <mat-label>End Date</mat-label>
          <input type="date" matInput [(ngModel)]="appointment.endDate" value="{{appointment.endDate}}">
        </mat-form-field>
        <mat-form-field class="create-appointment-form-full-width">
          <mat-label>Type</mat-label>
          <mat-select matNativeControl required [(ngModel)]="appointment.type">
            <mat-option value="private">Private</mat-option>
            <mat-option value="public">Public</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="create-appointment-form-full-width">
          <mat-label>Minimum Number Of People</mat-label>
          <input type="number" matInput [(ngModel)]="appointment.minSize" value="{{appointment.minSize}}"> <br>
          <mat-label>Maximum Number Of People</mat-label>
          <input type="number" matInput [(ngModel)]="appointment.maxSize" value="{{appointment.maxSize}}"> <br>
        </mat-form-field>
        <mat-form-field class="create-appointment-form-full-width">
          <mat-label>Location</mat-label>
          <input matInput [(ngModel)]="appointment.location" value="{{appointment.location}}">
        </mat-form-field>
      </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="update()">Update</button>
    <button mat-button (click)="goBack()">Back</button>
  </mat-card-actions>
</mat-card>
