<div class="container">
    <div class="login-container">
        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" name="account" novalidate>
            <h2 i18n="@@registerTitle"> Register your account </h2>

            <mat-error *ngIf="f.submitted && email.invalid && email.errors.required" i18n="@@errorEmailRequired">Email
                is required
            </mat-error>
            <mat-error *ngIf="f.submitted && email.invalid && email.errors.email" i18n="@@errorEmailInvalid">Email must
                be a valid email address
            </mat-error>
            <input class="input" i18n-placeholder=i18n="@@inputEmail" placeholder="Email" #email="ngModel" [(ngModel)]="account.email" email
                   name="email"
                   required type="email"/>

            <mat-error *ngIf="f.submitted && name.invalid && name.errors.required" i18n="@@errorUsernameRequired">
                Username is required
            </mat-error>
            <mat-error *ngIf="f.submitted && name.invalid && name.errors.minlength" i18n="@@errorUsernameToShort">
                Username must be at least 6
                characters
            </mat-error>
            <mat-error *ngIf="f.submitted && name.invalid && name.errors.maxlength" i18n="@@errorUsernameToLong">
                Username must be at most 20
                characters
            </mat-error>
            <input class="input" i18n-placeholder=i18n="@@inputUsername" placeholder="Username" #name="ngModel" [(ngModel)]="account.name" maxlength="32"
                   minlength="4" name="name"
                   required type="text"/>

            <mat-error *ngIf="f.submitted && password.invalid && password.errors.required" i18n="@@errorPasswordRequired">Password is required
            </mat-error>
            <mat-error *ngIf="f.submitted && password.invalid && password.errors.minlength" i18n="@@errorPasswordToShort">Password must be at least 6
                characters
            </mat-error>
            <input class="input" i18n-placeholder=i18n="@@inputPassword" placeholder="Password" #password="ngModel" [(ngModel)]="account.password"
                   minlength="4"
                   name="password" required
                   type="password"/>

            <mat-error *ngIf="f.submitted && isSignUpFailed">{{ errorMessage }}
            </mat-error>
            <br>
            <div *ngIf="isSuccessful" i18n="@@messageRegistrationSuccessful">Your registration is successful</div>
            <br>
            <button class="login-button" i18n="@@buttonRegister">Register</button>
            <button class="login-button" routerLink="/login" i18n="@@buttonGoToLogin">Go To Login</button>
        </form>
    </div>
</div>
